## File suffixes that are often generated and do not want to be tracked
*~
.*.sw?
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.fls
*.fdb_latexmk
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.synctex.gz

.DS_Store
